* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.submenu {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
}

.submenu > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
}
